@font-face {
    font-family: 'amblelight';
    src: url('/fonts/Amble-Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latin_modern_roman10_regular';
    src: url('/fonts/lmroman10-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
