:root {
    /* Colours */
    --c-font: #49443c;
    --c-background: #F1EEE9;

    /* Sizes */
    --s-page-width: 1400px;
    --s-padding: 80px;

    /* Fonts */
    --ff: 'amblelight', sans-serif;
    --ff-heading: 'latin_modern_roman10_regular', serif;
    --fs: 14px;
    --fs-large: 20px;
    --fs-small: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
        scroll-padding-top: 120px;
    }
}

body {
    font-family: var(--ff);;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.02em;
    background: var(--c-background);
    font-size: var(--fs);
    color: var(--c-font);
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variant: common-ligatures tabular-nums;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--ff-heading);
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 0.3rem;
    letter-spacing: 3px;
}

h1 {
    font-size: 21px;
}

h2 {
    font-size: var(--fs-large);
}

h3 {
    font-size: 32px;
}

a {
    color: var(--c-font);
    text-decoration: none;
    transition: all 0.3s ease;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    text-decoration-color: rgb(from var(--c-font) r g b / .2);
}

a:hover {
    text-decoration-color: var(--c-font);
}

.bold {
    font-weight: 800;
}

.page-content {
    padding: 80px 40px;
    max-width: var(--s-page-width);
    margin: 0 auto;
}

.page-content > * + *,
.text-content > * + *,
p + p {
    margin-top: 1.5rem;
}

.page-content h1 {
    margin-bottom: 1.5rem;
}

.page-intro {
    margin-bottom: 80px;
}

.header__spacer {
    transform-origin: top;
}

table td {
    padding: 0 0.5rem 0.5rem 0;
    vertical-align: top;
}

.grid {
    display: grid;
    grid-template-areas:
        "left right";
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin: 0 auto;
}

.grid-left {
    grid-area: left;
}

.grid-right {
    grid-area: right;
    margin-top: 0;
}

.grid-right img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.align-centre {
    text-align: center;
}

@media (max-width: 768px) {
    .page-content {
        padding: 40px 20px;
    }

    body {
        font-size: 16px;
    }
}