---
import Layout from '../layouts/Layout.astro';
import Carousel from '../components/Carousel.astro';
import { getEntry } from 'astro:content';

const homeData = await getEntry('pages', 'home');

if (!homeData) {
  throw new Error('Home page data not found');
}
---
<Layout title="Welcome">
  <main>
    <h1>{homeData.data.title}</h1>
    {homeData.data.carousel && <Carousel slides={homeData.data.carousel} />}
  </main>
</Layout>