---
import SocialLinks from "../components/SocialLinks.astro";
import { Image } from 'astro:assets';
import { createUrl } from '../utils/url.ts';
import emblem from '../images/logo-dark.png';

const socialLinks = [
  { name: "Instagram", url: "https://instagram.com/vasaridesign_" },
  // { name: "X", url: "https://x.com/vasaridesign" },
  // { name: "Behance", url: "https://behance.net/vasaridesign" },
];
---

<footer class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <Image src={emblem} alt="Vasari Logo" width={105} height={85} class="footer-title" />
        </div>
        <div class="footer-section footer-contact">
            <SocialLinks links={socialLinks} />
            <a href={createUrl('projects')} class="text-link">Projects</a>
        </div>

        <div class="footer-section footer-follow">
            <a href={createUrl('contact')} class="text-link">Contact</a>
            <a href={createUrl('careers')} class="text-link">Careers</a>
        </div>
    </div>

    <div class="footer__copyright">
        <p>&copy; {new Date().getFullYear()} Vasari. All rights reserved.</p>
    </div>
</footer>

<style>
    .footer {
        width: 100%;
        padding: 40px 2rem 0 2rem;
        font-size: var(--fs-small);
        background: #cec7bb;
    }

    .footer-title {
        margin: 0 0 1rem 0;
    }

    .footer-content {
        padding: 40px 0 80px 0;
        max-width: 1000px;
        margin: 0 auto;
        display: grid;
        gap: 3rem;
        grid-template-columns: 3fr 1fr 1fr;
        grid-template-areas: ". contact follow";
        align-items: start;
    }

    .footer-contact { grid-area: contact; }
    .footer-follow  { grid-area: follow; }
    :global(.footer a) {
        display: block;
        margin-bottom: 0.5rem;
    }

    .footer-section p,
    .footer__copyright p {
        line-height: 1.4;
        font-size: var(--fs-small);
    }

    .footer__copyright {
        text-align: center;
        padding: 0 0 50px 0;
    }

    @media (max-width: 1024px) {
        .footer-content {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "contact follow";
            gap: 2.5rem;
        }
    }

    @media (max-width: 768px) {
        .footer-content {
            grid-template-columns: 1fr;
            grid-template-areas:
                "contact"
                "follow";
            gap: 2rem;
            padding-bottom: 40px;
        }
    }
</style>