---
import CmsImage from '../components/CmsImage.astro';

const { src, alt } = Astro.props;
---

<section class="hero-image header__spacer">
    <CmsImage 
        src={src}
        alt={alt}
        loading={'eager'}
        class="hero-image__img"
        sizes="100vw"
    />
</section>

<style>
.hero-image {
    width: 100vw !important;
    max-height: 50vh;
    height: 500px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    object-position: center;
}

:global(.hero-image__img) {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

@media (max-width: 1024px) {
    .hero-image {
        height: 300px;
    }

    .hero-image__img {
        height: 300px;
    }
}
</style>