---
export interface Props {
  title: string;
}

import { Image } from 'astro:assets';

import logo from '../images/logo.png';
import emblem from '../images/emblem.png';  

import '../styles/fonts.css';
import '../styles/global.css';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

      <title>Vasari - {title}</title>
  </head>
  <body id="home">
    <!-- Header -->
    <header class="header">
        <a href="#services">Services</a>
        <a href="#home" class="logo">
          <Image src={logo} alt="Vasari Design Logo" width="79" height="93" />
        </a>
        <a href="#about">About</a>
    </header>

    <main>
      <slot />
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section">
                <Image src={emblem} alt="Vasari Design Logo" width="68" height="68" />
                <p>At Vasari, we believe a home should offer more than visual beauty alone --- it should offer depth, clarity, and a sense of belonging.</p>
            </div>
            <div class="footer-section">
                <table>
                  <tr>
                    <td class="bold">
                      London:
                    </td>
                    <td>
                      <a href="tel:+44 0203 5445 5555">+44 0203 5445 5555</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="bold">
                      Dallas:
                    </td>
                    <td>
                      <a href="tel:+1 817 345 5555">+1 817 345 5555</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="bold">
                      Support:
                    </td>
                    <td>
                      <a href="mailto:enquires@vasaridesign.com">Enquires@vasaridesign.com</a>
                    </td>
                  </tr>
                </table>
            </div>
            <div class="footer-section">
                
            </div>
        </div>
    </footer>

    <script src="../scripts/global.js"></script>
  </body>
</html>